---
layout: layout/markdown.ejs
title: Blog

date: Created
last: Last Modified

categories: []
tags: blog
---
<style>
    header {
        justify-content: space-between;
    }

    header * {
        margin: 0px;
    }
</style>
<header>
    <h1><%- title %></h1>
    <% console.log(date, locals.collections?.all[0]?.page?.date) %>
    <span><%- date instanceof Date ? date : locals.collections?.all[0]?.page?.date %></span>
</header>
<%- content %>

