---
layout: layout/base.ejs
---
<style>
    nav {
        padding: 10px 20px;
        position: sticky;
        top: 0px;
        background-color: #0c0c0e;
    }

    main {
        padding: 20px;
        padding-top: 0px;
    }

    ul.content-list {
        padding-left: 0px;
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    ul.content-list li.post {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: larger;
        gap: 5px;
    }

    ul.content-list li.post.hidden-post {
        opacity: 0.5;
    }

    ul.content-list li .post-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ul.content-list li .post-link p {
        font-size: smaller;
    }

    ul.content-list li.post > *:first-child {
        flex: 1;
    }


    ul.content-list li.post .post-info {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        font-size: smaller;
    }
</style>
<nav>
    <a href="/">index</a>
    <% let list = locals.page.url.split('/'), current_link = ""; for(let i = 1; i < list.length - 2; i++) { %>
        <% current_link += "/" + list[i] %>
        - <a href=<%- current_link %>><%- list[i] %></a>
    <% } %>
    <span>-</span>
    <%- locals.page.fileSlug %>
    <a class="hide" id="remove-filter-link">remove filters</a>
    <span class="hide" id="filter-list"></span>
    <span style="flex: 1; display: flex; justify-content: flex-end; gap: 10px">
        <% if(!list.includes('blog')) { %>
        <a href="/blog">blog</a>
        <% } %>

        <% if(!list.includes('projects')) { %>
            <a href="/projects">projects</a>
        <% } %>
    </span>
</nav>
<main>
    <%- content %>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log(window.location);
        let query = new URLSearchParams(window.location.search);

        if(query.has('filter')) {
            let filter_target = Array.from(document.getElementsByClassName('content-list'));
            for(let i = 0; i < filter_target.length; i++) {
                let children = filter_target[i].children;
                for(child in children) {
                    let tags = children[child]?.dataset?.tags?.split(',') ?? [];
                    if(!tags.includes(query.get('filter'))) {
                        children[child]?.classList?.add('hide');
                    }
                }
            }

            let reset = document.getElementById('remove-filter-link');
            let filter_list = document.getElementById('filter-list');

            reset.href = `${window.location.pathname}`;
            reset.classList.remove('hide');
            
            filter_list.textContent = `[ ${query.get('filter')} ]`;
            filter_list.classList.remove('hide');
        }
    })
</script>
