---
layout: layout/page.ejs
---
<h2>About Me</h2>
<article>
    I'll fill this in when I have more stuff to say.
</article>
<br>
<h4>Contact:</h4>
<p class="italic">contact@&lt;this domain&gt;</p>
<br>
<h4>Site:</h4>
<p class="italic">Made with <%- locals.eleventy.generator %></p>
