---
layout: layout/base.ejs
---
<main>
    <style>
        main {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
    <span class="name">
        <h2>Hi, I'm</h2>
        <h1>Brandon Benbow</h1>
    </span>
    <article>
        I have a few <a href="/project">Things</a> I'm working on, maybe even some <a href="/blog">Posts</a>.<br>
        I'm adding stuff here as I make them, check back later for more.<br>
        Look <a href="/about">Here</a> for more info.
    </article>
</main>