---
layout: layout/project.ejs
title: Idle Civ
date: Created
last: Last Modified
categories: ["javascript"]
hidden: true
---
<div id="stats"></div>
<div id="buttons"></div>
<script type="module" src="/public/js/idle.js"></script>